<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>商品一括登録画面</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

<h1>商品一括登録</h1>

<nav>
    <a th:href="@{/}">ホーム</a>
    <a th:href="@{/admin/products}">商品管理一覧</a>
</nav>

<!-- エラー表示 -->
<div th:if="${errors != null}">
    <ul>
        <li th:each="err : ${errors}" th:text="${err}"></li>
    </ul>
</div>

<form th:action="@{/admin/products/csv}" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv">
    <button type="submit">アップロード</button>
</form>

</body>
</html>