<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>会員登録画面</title>
</head>
<body>
    <h1>会員登録画面</h1>

    <!--エラーメッセージ-->
    <div th:if="${#fields.hasErrors()}" class="error-box">
        <ul>
            <li th:each="err : ${#fields.errors('*')}"
                th:text="${err}"></li>
        </ul>
    </div>

    <!--登録フォーム-->
    <form th:action="@{/user/register}" th:object="${userRegisterForm}" method="post">
        <!--メールアドレス-->
        <div class="form-group">
            <label>メールアドレス</label>
            <input type="text" name="email" th:field="*{email}">
        </div>
        <!--パスワード-->
        <div class="form-group">
            <label>パスワード</label>
            <input type="password" name="password" th:field="*{password}">
        </div>
        <!--確認用パスワード-->
            <label>確認用パスワード</label>
            <input type="password" name="confirmpassword" th:field="*{confirmPassword}">
        <!--氏名-->
        <div class="form-group">
            <label>氏名</label>
            <input type="text" name="name" th:field="*{name}">
        </div>
        <!--郵便番号-->
        <div class="form-group">
            <label>郵便番号</label>
            <input type="text" name="postalcode" th:field="*{postalcode}">
        </div>
        <!--住所-->
        <div class="form-group">
            <label>住所</label>
            <input type="text" name="address" th:field="*{address}">
        </div>
        <!--電話番号-->
        <div class="form-group">
            <label>電話番号</label>
            <input type="text" name="phone" th:field="*{phone}">
        </div>
</body>
</html>