.products-contents {
    display: flex;
    gap: 20px;
    align-items: center;
}

.products-contents-flex {
    padding-top: 20px;
    border-top: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.products-contents {
    /*
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    */
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
}
.image-contents {
    width: calc((100% - 20px) * 0.2);
}
.image {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}
.image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail-contents {
    width: calc((100% - 20px) * 0.8);
}
.text {
    line-height: 1;
    display: block;
}
.bold {
    font-weight: bold;
}

.total-price {
    margin-top: 20px;
    line-height: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.total {
    font-size: 20px;
    color: red;
    font-weight: bold;
}