<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
</head>
<body class="login-body">
<div th:replace="fragments/navbar :: navbar"></div>
<main class="login-container">

    <!-- ロゴ -->
    <div class="login-logo">
        <img th:src="@{/storage/logo.png}" alt="NYAサイトロゴ">
    </div>

    <!-- エラーメッセージ -->
    <div class="error-box" th:if="${errorMessage != null}">
        <p th:text="${errorMessage}"></p>
    </div>

    <div class="error-box" th:if="${errorMessages}">
        <p th:each="msg : ${errorMessages}" th:text="${msg}"></p>
    </div>

    <!-- ログインフォーム -->
    <form th:action="@{/login}" method="post" class="login-form">

        <div class="form-group">
            <label>メールアドレス</label>
            <input type="text" name="email" th:value="${email}">
        </div>

        <div class="form-group">
            <label>パスワード</label>
            <input type="password" id="passwordField" name="password">
        </div>

        <div class="pw-toggle">
            <input type="checkbox" id="pwVisible">
            <label for="pwVisible">パスワードを表示する</label>
        </div>

        <button type="submit" class="login-btn">ログイン</button>

    </form>

    <div class="register-link">
        新規会員登録は <a th:href="@{/user/register}">こちら</a>
    </div>
    <footer class="login-footer">
        <p>&copy;NYA</p>
    </footer>
</main>

<script>
    // パスワード表示切り替え
    document.getElementById("pwVisible").addEventListener("change", function () {
        const pw = document.getElementById("passwordField");
        pw.type = this.checked ? "text" : "password";
    });
</script>

</body>
</html>
