<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nya_shopping.repository.UserRepository">

    <select id="findByEmail" resultType="com.example.nya_shopping.repository.entity.User" parameterType="string">
        SELECT
        id,
        email,
        password,
        name,
        postal_code,
        address,
        phone,
        role,
        is_stopped,
        created_at,
        updated_at
        FROM users
        WHERE email = #{email}
    </select>

    <select id="findAllUser"  resultType="com.example.nya_shopping.repository.entity.User">
        SELECT *
        FROM users
        WHERE 1 = 1

        <!-- メールアドレス -->
        <if test="form.email != null and form.email != ''">
            AND email LIKE CONCAT('%', #{form.email}, '%')
        </if>

        <!-- 名前 -->
        <if test="form.name != null and form.name != ''">
            AND name LIKE CONCAT('%', #{form.name}, '%')
        </if>

        <!-- 住所 -->
        <if test="form.address != null and form.address != ''">
            AND address LIKE CONCAT('%', #{form.address}, '%')
        </if>

        <!-- 電話番号 -->
        <if test="form.phone != null and form.phone != ''">
            AND phone LIKE CONCAT('%', #{form.phone}, '%')
        </if>

        <!-- 電話番号 -->
        <if test="form.isStopped != null">
            AND isStopped = #{form.isStopped}
        </if>

        <if test="form.startTimeStamp != null">
            AND created_at >= #{form.startTimeStamp}
        </if>

        <if test="form.endTimeStamp != null">
            AND created_at &lt;= #{form.endTimeStamp}
        </if>



        <choose>
            <when test="form.sort == 'id'">
                ORDER BY id
            </when>
            <when test="form.sort == 'name'">
                ORDER BY name
            </when>
            <when test="form.sort == 'address'">
                ORDER BY adress
            </when>
            <when test="form.sort == 'created'">
                ORDER BY created_at
            </when>
            <otherwise>
                ORDER BY id
            </otherwise>
        </choose>

        <choose>
            <when test="form.order == 'DESC'">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>

        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countUser" resultType="int">
        SELECT COUNT(*)
        FROM users
        WHERE 1 = 1

        <!-- メールアドレス -->
        <if test="form.email != null and form.email != ''">
            AND email LIKE CONCAT('%', #{form.email}, '%')
        </if>

        <!-- 名前 -->
        <if test="form.name != null and form.name != ''">
            AND name LIKE CONCAT('%', #{form.name}, '%')
        </if>

        <!-- 住所 -->
        <if test="form.address != null and form.address != ''">
            AND address LIKE CONCAT('%', #{form.address}, '%')
        </if>

        <!-- 電話番号 -->
        <if test="form.phone != null and form.phone != ''">
            AND phone LIKE CONCAT('%', #{form.phone}, '%')
        </if>

        <!-- 電話番号 -->
        <if test="form.isStopped != null">
            AND isStopped = #{form.isStopped}
        </if>

        <if test="form.startTimeStamp != null">
            AND created_at >= #{form.startTimeStamp}
        </if>

        <if test="form.endTimeStamp != null">
            AND created_at &lt;= #{form.endTimeStamp}
        </if>
    </select>

</mapper>