<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.nya_shopping.repository.UserRepository">

    <select id="findByEmail" resultType="com.example.nya_shopping.repository.entity.User" parameterType="string">
        SELECT
        id,
        email,
        password,
        name,
        postal_code,
        address,
        phone,
        role,
        is_stopped,
        created_at,
        updated_at
        FROM users
        WHERE email = #{email}
    </select>

    <insert id="save" parameterType="com.example.nya_shopping.repository.entity.User">
        INSERT INTO users (
        email,
        password,
        name,
        postal_code,
        address,
        phone,
        role,
        is_stopped,
        created_at,
        updated_at
        ) VALUES (
        #{email},
        #{password},
        #{name},
        #{postalCode},
        #{address},
        #{phone},
        #{role},
        #{isStopped},
        #{createdAt},
        #{updatedAt}
        )
    </insert>

</mapper>